*color12:                    #3355ff
*color4:                     #3465A4
URxvt*foreground:            white
URxvt*background:            black
URxvt*cursorBlink:           false
URxvt*cursorColor:           #DCDCCC
URxvt*font:                  xft:DejaVu Sans Mono:size=11
URxvt*boldFont:              xft:DejaVu Sans Mono:size=11:style=Bold
URxvt*loginShell:            true
URxvt*matcher.button:        1
URxvt*perl-ext-common:       default,matcher,searchable-scrollback,clipboard,keyboard-select,url-select
URxvt*perl-lib:              /usr/lib64/urxvt/perl
URxvt*saveLines:             65535
URxvt*scrollBar:             false
URxvt*secondaryScroll:       true
URxvt*termName:            	 rxvt-256color
URxvt*urgentOnBell:          true
URxvt*urlLauncher:           /usr/bin/google-chrome-stable
URxvt.clipboard.copycmd:     xsel -ib
URxvt.clipboard.pastecmd:    xsel -ob
URxvt.cutchars:              "`()'*<>[]{|}\""
URxvt.keysym.M-C-a:          perl:keyboard-select:activate
URxvt.keysym.M-C-u:          perl:url-select:select_next
URxvt.keysym.M-C-v:          perl:clipboard:paste_escaped
URxvt.keysym.M-c:            perl:clipboard:copy
URxvt.keysym.M-s:            perl:keyboard-select:search
URxvt.keysym.M-v:            perl:clipboard:paste
URxvt.url-select.autocopy:   true
URxvt.url-select.launcher:   /usr/bin/firefox
URxvt.url-select.underline:  true
!!URxvt*borderLess:          false
!!URxvt*externalBorder:      0
!!URxvt*internalBorder:      0
!!URxvt*override-redirect:   false
!!URxvt*shading:             50
!!URxvt*transparent:         true
!!URxvt*urlLauncher:         /usr/bin/firefox
!!URxvt.clipboard.copycmd:   xclip -i -selection clipboard
!!URxvt.clipboard.pastecmd:  xclip -o -selection clipboard
!!URxvt.url-select.button:   2

XTerm*SaveLines:             10000
XTerm*background:            black
XTerm*bellIsUrgent:          true
XTerm*charClass:             33:48,35:48,37:48,43:48,44-47:48,61:48,63-64:48,95:48,126:48,58:48
XTerm*faceName:              DejaVu Sans Mono
XTerm*faceSize:              12
XTerm*foreground:            white
XTerm*jumpScroll:            on
XTerm*multiScroll:           on
XTerm*rightScrollBar:        true
XTerm*selectToClipboard:     true
XTerm*trimSelection:         true
!!XTerm*scrollBar:           false
!!XTerm*vt100.scrollBar:     false
Xft.dpi:                     100
