#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3


URxvt*cursorBlink:           false
URxvt*font:                  xft:DejaVu Sans Mono:size=16
URxvt*boldFont:              xft:DejaVu Sans Mono:size=16:style=Bold
!!URxvt*font:                  xft:Hack:size=12
!!URxvt*boldFont:              xft:Hack:size=12:style=Bold
URxvt*loginShell:            true
URxvt*matcher.button:        1
URxvt*perl-ext-common:       default,matcher,searchable-scrollback,clipboard,keyboard-select,url-select
URxvt*perl-lib:              /usr/lib64/urxvt/perl
URxvt*saveLines:             65535
URxvt*scrollBar:             false
URxvt*secondaryScroll:       true
URxvt*termName:            	 rxvt-256color
URxvt*urgentOnBell:          true
URxvt*urlLauncher:           /usr/bin/google-chrome-stable
URxvt.clipboard.copycmd:     xsel -ib
URxvt.clipboard.pastecmd:    xsel -ob
URxvt.cutchars:              "`()'*<>[]{|}\""
URxvt.keysym.M-C-a:          perl:keyboard-select:activate
URxvt.keysym.M-C-u:          perl:url-select:select_next
URxvt.keysym.M-C-v:          perl:clipboard:paste_escaped
URxvt.keysym.M-c:            perl:clipboard:copy
URxvt.keysym.M-s:            perl:keyboard-select:search
URxvt.keysym.M-v:            perl:clipboard:paste
URxvt.url-select.autocopy:   true
URxvt.url-select.launcher:   /usr/bin/firefox
URxvt.url-select.underline:  true
!!URxvt*borderLess:          false
!!URxvt*externalBorder:      0
!!URxvt*internalBorder:      0
!!URxvt*override-redirect:   false
!!URxvt*shading:             50
!!URxvt*transparent:         true
!!URxvt*urlLauncher:         /usr/bin/firefox
!!URxvt.clipboard.copycmd:   xclip -i -selection clipboard
!!URxvt.clipboard.pastecmd:  xclip -o -selection clipboard
!!URxvt.url-select.button:   2

XTerm*SaveLines:             10000
XTerm*background:            black
XTerm*bellIsUrgent:          true
XTerm*charClass:             33:48,35:48,37:48,43:48,44-47:48,61:48,63-64:48,95:48,126:48,58:48
XTerm*faceName:              DejaVu Sans Mono
XTerm*faceSize:              12
XTerm*foreground:            white
XTerm*jumpScroll:            on
XTerm*multiScroll:           on
XTerm*rightScrollBar:        true
XTerm*selectToClipboard:     true
XTerm*trimSelection:         true
!!XTerm*scrollBar:           false
!!XTerm*vt100.scrollBar:     false
!! https://wiki.manjaro.org/index.php?title=Improve_Font_Rendering
!!Xft.dpi:                     100
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
